$themes: (
  default: (
    background: lightcyan,
    text: steelblue,
    border: navy,
    shadow: midnightblue,
    background-alt: deepskyblue,
    text-alt: cadetblue,
    border-alt: powderblue
  ),
  wolf: (
    background: lightgrey,
    text: black,
    border: silver,
    shadow: darkgrey,
    background-alt: grey,
    text-alt: white,
    border-alt: slategrey 
  ),
  fox: (
    background: coral,
    text: orangered,
    border: darkorange,
    shadow: tomato,
    background-alt: orangered,
    text-alt: darkred,
    border-alt: orange
  ),
  coyote: (
    background: lawngreen,
    text: green,
    border: olive,
    shadow: limegreen,
    background-alt: lime,
    text-alt: darkgreen,
    border-alt: springgreen
  )
) !default;

