* {
  box-sizing: border-box;
  font-size: $base-font-size;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  @each $key, $value in $themes {
    @include theme($key, $value);
  }
}

body {
  color: color('text', 'wolf');
  background-color: color('background');
  border-color: color('border');
}
