@mixin button($theme: $app-theme) {
  box-shadow: 0px 1px 3px color("shadow", $theme);
  background-color: color("background", $theme);
  border-color: color("border", $theme);
  color: color("text", $theme);

  &:hover {
    background-color: color("background-alt", $theme);
    border-color: color("border-alt", $theme);
    color: color("text-alt", $theme);
  }
}
