* {
  box-sizing: border-box;
  font-size: 16px;
}

$buttonColors: (
  buttonBackground: grey,
  buttonText: white,
  buttonBorder: black
) !default;

$baseColors: (
  background: blue,
  text: black,
  border: grey
) !default;

:root {
  @each $name, $color in $baseColors {
    --color-#{$name}: #{$color};
  }

  @each $name, $color in $buttonColors {
    --color-#{$name}: #{$color};
  }
}

@function color($color-name) {
  @return var(--color-#{$color-name});
}

body {
  color: color(text);
}

.button {
  background-color: color(buttonBackground);
  border-radius: 4px;
  border: 1px solid color(buttonBorder);
  display: inline-block;
  color: color(buttonText);
  cursor: pointer;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
}
